<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" [routerLink]="['user']">学生成绩管理</a>
                        <a class="nav-link" [routerLink]="['product']">学习</a>
                        <a class="nav-link" [routerLink]="['exit']">退出</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>